[Unit]
Description=Code Server Container for {{ username }}
Wants=network-online.target
After=network-online.target
Documentation=man:podman-systemd.unit(5)

[Container]
Image={{ podman_devspace_image }}
ContainerName={{ podman_devspace_container_name_prefix }}-{{ username }}
PublishPort={{ dev_server_port }}:8080
Environment=PASSWORD={{ code_server_pass | default('') }}
Environment=USER={{ username }}
Environment=TARGET_UID={{ user_uid | default(1000) }}
Environment=TARGET_GID={{ user_gid | default(1000) }}
Volume=/home/{{ username }}:/home/{{ username }}
PodmanArgs=--userns=keep-id --security-opt label=disable

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

